*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.map-container {
  height: 100vh;
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}
.marker {
  background-image: url('../public/home-button.png');
  background-size: cover; /* or 'contain', depending on your needs */
  background-repeat: no-repeat;
  background-position: center;
  /* Other styles */
  border: none;
  color: white;
  padding: 1.2vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.marker::after {
  content: attr(titlea);
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.marker:hover::after {
  visibility: visible;
  opacity: 1;
}


.popup{
  /* z-index: 30; */
  min-width: 400px;
  max-width: 400px;
  min-height:240px;
  max-height:240px;
  background-color: rgba(210, 210, 210,1);
  cursor: pointer;
  box-shadow: 0px 0px 10px black;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-radius: 4px;
}
.tile-header {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.tile-header-item{
  padding: 5px 10px;
  font-family:  sans-serif;
  /* font-size:11px; */
  
  max-width: 60%;
  max-height: 70px;
  min-height: 70px;
  overflow: hidden;
  text-decoration: dotted;
  text-overflow: ellipsis;
}
.title{
  display: flex;
  font-size:11px;
  font-weight: 600;
  /* flex-wrap: wrap; */
  text-overflow: ellipsis;
}
.tile-content{
  padding: 2px 10px;
  height: 100%;
}
.amenities-tile {
  display: flex;
  justify-content: space-between;

}
.cancel-container{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }

.cancel{  
    padding: 5px;
    background-color: black;
    padding: 2px 4px;
    border-radius: 50%
  }